/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	text-align:center;
}
	/* flip the pane when hovered */
.flip-container:active .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 150px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	text-align:center;
	position: relative;
	/*cursor:pointer;*/
}



/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden; 
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
} 